<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class ="get">
        <h3>Load Courses</h3>
        <a href="/get_data">Available Courses</a>
        <div>
            {{# each items}}
                <article class="item">
                    <div>ID: {{this.id}}</div>
                    <div>Course Name: {{this.name}}</div>
                    <div>Credit Hours: {{this.credit_hrs}}</div>
                </article>
            {{/each}}
        </div>
    </section>
    <section class="add">
        <h4>Add Course</h4>
        <form action="/add" method="POST">
            <div class="input">
                <label for="id">Course ID</label>
                <input type="test" id="id" name="id">
            </div>
            <div class="input">
                <label for="name">Course Name</label>
                <input type="test" id="name" name="name">
            </div>
            <div class="input">
                <label for="credit_hrs">Credit Hours</label>
                <input type="test" id="credit_hrs" name="credit_hrs">
            </div>
            <button type="submit">ADD</button>
        </form>
    </section>
    <section class="update">
        <h5>Update Course</h5>
        <form action="/update" method="POST">
            <div class="input">
                <label for="id">Course ID</label>
                <input type="test" id="id" name="id">
            </div>
            <div class="input">
                <label for="name">Course Name</label>
                <input type="test" id="name" name="name">
            </div>
            <div class="input">
                <label for="credit_hrs">Credit Hours</label>
                <input type="test" id="credit_hrs" name="credit_hrs">
            </div>
            <button type="submit">UPDATE</button>
        </form>
    </section>
    <section class="delete">
        <h6>Delete Course</h6>
        <form action="/delete" method="POST">
            <div class="input">
                <label for="id">Course ID</label>
                <input type="test" id="id" name="id">
            </div>
            <div class="input">
                <label for="name">Course Name</label>
                <input type="test" id="name" name="name">
            </div>
            <div class="input">
                <label for="credit_hrs">Credit Hours</label>
                <input type="test" id="credit_hrs" name="credit_hrs">
            </div>
            <button type="submit">DELETE</button>
        </form>
    </section>
</body>
</html>