<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/reset_password" method="POST">
    <h1>Reset password</h1>
    <label for="name"><b>Username</b></label>
    <input type="text" name="name" id="name">
    <br>
    <label for="old_psw"><b>OLD Password</b></label>
    <input type="password" name="old_psw" id="old_psw">
    <br>
    <label for="new_psw"><b>NEW Password</b></label>
    <input type="password" name="new_psw" id="new_psw">
    <br>
    <button type="submit" onclick="reset_password">Reset</button>
    </form>
</body>
</html>
